
@{
    ViewBag.Title = "Onay";
    Layout = "~/Views/Shared/default_layout.cshtml";
}

<h2>Onay</h2>

Siparişiniz alınmıstır.Sipariş Numarası <span style="background-color:red;color:white;font-size:22px;">@ViewBag.orderGroupGUID</span>

